<div class="navbar">
  <%= link_to root_path, class: "logo" do %>
    <%= image_tag 'hunter-advisers-logo-full.png', height: 80%>
  <% end %>
  <div class="navigation">
    <%= link_to "About Us", root_path, class: smallcp(root_path) %>
    <%= link_to "Proactive Non-Executive" %>
    <%= link_to "Corporate Advice" %>
    <%= link_to "Creating New Funds" %>
    <%= link_to "Corporate Roles" %>
    <%= link_to "Honorary Roles" %>
  </div>
</div>
