<div class="text-box padding-lg">
  <h1 class="margin-bottom">CORPORATE ROLES</h1>
  <div class="container-roles">
    <div class="row">
      <div class="col-xs-6 col-sm-6 role-padding-right">
        <h1 class="roles-title io">GCP Student Living PLC</h1>
      </div>
      <div class="col-xs-6 col-sm-6 roles-spacing">
        <p>UK</p>
        <p>Non-Executive Director</p>
        <p><a href="https://www.graviscapital.com/funds/gcp-student/about" target="_blank" class="external-link external-link-size">www.graviscapital.com/funds/gcp-student/about</a></p>
      </div>
    </div>
    <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552052792/stag-line.png",:class=>"stag-break") %>
    <div class="row">
      <div class="col-xs-6 col-sm-6 role-padding-right">
        <h1 class="roles-title io">CUSTODIAN REIT PLC</h1>
      </div>
      <div class="col-xs-6 col-sm-6 roles-spacing">
        <p>UK</p>
        <p>Chairman</p>
        <p><a href="https://www.custodianreit.com/" target="_blank" class="external-link external-link-size">www.custodianreit.com</a></p>
      </div>
    </div>
    <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552052792/stag-line.png",:class=>"stag-break") %>
    <div class="row">
      <div class="col-xs-6 col-sm-6 role-padding-right">
        <h1 class="roles-title">ICG-LONGBOW</h1>
      </div>
      <div class="col-xs-6 col-sm-6 roles-spacing">
        <p>UK</p>
        <p>Senior Adviser</p>
        <p><a href="https://www.icgam.com/strategies/real-assets-strategies/" target="_blank" class="external-link external-link-size">www.icgam.com/strategies/real-assets-strategies</a></p>
      </div>
    </div>
    <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552052792/stag-line.png",:class=>"stag-break") %>
    <div class="row">
      <div class="col-xs-6 col-sm-6 role-padding-right">
        <h1 class="roles-title io">IO ASSET MANAGEMENT</h1>
      </div>
      <div class="col-xs-6 col-sm-6 roles-spacing">
        <p>UK</p>
        <p>Senior Adviser</p>
        <p><a href="http://www.ioam.co.uk/" target="_blank" class="external-link external-link-size">www.ioam.co.uk</a></p>
      </div>
    </div>
    <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552052792/stag-line.png",:class=>"stag-break") %>
    <div class="row">
      <div class="col-xs-6 col-sm-6 role-padding-right">
        <h1 class="roles-title">QUILVEST GLOBAL</h1>
      </div>
      <div class="col-xs-6 col-sm-6 roles-spacing">
        <p>Global</p>
        <p>Senior Adviser</p>
        <p><a href="http://www.quilvestprivateequity.com/strategies/real-estate" target="_blank" class="external-link external-link-size">www.quilvestprivateequity.com</a></p>
      </div>
    </div>
    <%= image_tag("https://res.cloudinary.com/ddwuu1y0i/image/upload/v1552052792/stag-line.png",:class=>"stag-break") %>
    <div class="row">
      <div class="col-xs-6 col-sm-6 role-padding-right">
        <h1 class="roles-title">YATRA CAPITAL PLC (in liquidation)</h1>
      </div>
      <div class="col-xs-6 col-sm-6 roles-spacing">
        <p>India/Jersey/Mauritius</p>
        <p>Non-Executive Director</p>
        <p><a href="http://www.yatracapital.com" target="_blank" class="external-link external-link-size">www.yatracapital.com</a></p>
      </div>
    </div>
  </div>
</div>
